# stream server
STREAM_SERVER_DEBUG_MODE=true
SYMBOLS=BTCUSDT,ETHUSDT

# mongo
MONGO_DEBUG_MODE=true
MONGO_URI=mongodb://mongodb:27017
MONGO_DATABASE_NAME=data_store
MONGO_BINANCE_TRADE_COLLECTION_NAME=BinanceTradeEvent
MONGO_NOTIFICATION_COLLECTION_NAME=NotificationEvent

# mongo-express
MONGO_INITDB_ROOT_USERNAME=username
MONGO_INITDB_ROOT_PASSWORD=password
ME_CONFIG_MONGODB_SERVER=mongodb
ME_CONFIG_MONGODB_URL=mongodb:27017
ME_CONFIG_MONGODB_ADMINUSERNAME=username
ME_CONFIG_MONGODB_ADMINPASSWORD=password

# jetstream
JETSTREAM_DEBUG_MODE=true
NATS_URL=nats://jetstream:4222
JETSTREAM_STREAM_NAME=EVENTS
JETSTREAM_SUBJECT=input.events
JETSTREAM_DURABLE=connector-durable

JS_RETENTION=limits
JS_REPLICAS=1
JS_STORAGE=file

# Data Connector
CONNECTOR_INPUT_STREAM=EVENTS
CONNECTOR_INPUT_SUBJECT=input.events
CONNECTOR_DURABLE_CONSUMER=data-connector
CONNECTOR_OUTPUT_SUBSCRIBERS=consumer.mongo,consumer.telegrambot,consumer.stream.analytics

# GraphQL Server
GRAPHQL_DEBUG_MODE=true
GRAPHQL_SERVER_URL=:8085

# Telegram Bot
TELEGRAM_DEBUG_MODE=true
TELEGRAM_SUBJECT="consumer.telegrambot"
TELEGRAM_DURABLE_NAME="telegram-bot-durable"
TELEGRAM_STREAM_NAME="STREAM_CONSUMER_TELEGRAM_BOT"

TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=

# MinIO
MINIO_DEBUG_MODE=false
MINIO_ENDPOINT="minio:9000"
MINIO_ACCESS_KEY_ID="minioadmin"
MINIO_SECRET_ACCESS_KEY="minioadmin"